@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa-VariableFont_wght.ttf');
}

body {
    font-family: 'Comfortaa', sans-serif;
}

#imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 15%;
    padding: 10px;
}

#cajaSignup{
    border: 1px solid black;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

#cajaSignup *{
    margin-left: 20px;
    margin-bottom: 10px;
}

form h2 {
    font-size: 38px;
    margin-bottom: 45px;
}

form label{
    font-size: 24px;
}

form input[type="text"], input[type="password"], input[type="email"]{
    width: 495px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 18px;
}

form input[type="submit"]{
    width: 498px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    background-color: #18A0FB;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

#cajaLogin{
    margin-top: 30px;
    font-size: 18px;
}

#cajaLogin a{
    color: #18A0FB;
    text-decoration: none;
}