<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>

    <link rel="stylesheet" href="../css/index.css" />
    <link rel="icon" href="../images/favicon.ico" />
  </head>

  <body>
    <!--Barra de navegacion-->
    <nav class="navList">
      <ul>
        <img class="logo" src="../images/logoNav.png" alt="logo" />
        <li><a href="../views/index.html">Home</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Comunidad</a></li>
        <li><a href="#">Soporte</a></li>

        <li><button id="btnLogNav">Log in</button></li>
        <li><button id="btnRegisterNav">Register</button></li>
      </ul>
    </nav>
    <!--Fin Barra de navegacion-->
    <!--Banner -->
    <div class="imgHome">
      <img
        class="imgBanner"
        src="../images/banner.png"
        alt="Banner de inicio"
      />
    </div>
    <!--Fin Banner -->

    <div class="info">
      <h2>
        PoliMarket: La plataforma de la comunidad politécnica para conectar,
        emprender y vender
      </h2>

      <div class="infolib">
        <h3>Libros</h3>
        <p>
          ¡Descubre un mundo de conocimiento en nuestra sección de libros
          comunitarios! Sumérgete en una biblioteca virtual donde la comunidad
          politécnica comparte sus pensamientos, descubrimientos y experiencias
          a través de páginas cautivadoras. Desde apasionantes novelas hasta
          inspiradoras obras académicas, nuestra página web te invita a explorar
          una amplia gama de títulos fascinantes. Prepárate para expandir tu
          horizonte intelectual mientras te sumerges en un mar de palabras,
          ¡todo a solo un clic de distancia! Bienvenido a una aventura literaria
          única, creada por y para la comunidad politécnica.
        </p>
      </div>
      <div class="infoTec">
        <h3>Tecnolgía</h3>
        <p>
          ¡Explora el futuro con nuestra sección de tecnología innovadora!
          Sumérgete en un mundo fascinante donde la vanguardia y la creatividad
          convergen. Desde dispositivos de última generación hasta
          descubrimientos científicos revolucionarios, nuestra página web te
          lleva de la mano a través del emocionante viaje de la evolución
          tecnológica. Desbloquea el potencial ilimitado de la era digital y
          descubre cómo la tecnología moldea nuestro presente y transforma
          nuestro futuro. Únete a nosotros mientras exploramos las fronteras de
          la innovación y te conectamos con las ideas más audaces de la
          comunidad politécnica. ¡Prepárate para ser inspirado y maravillado por
          las maravillas tecnológicas que te esperan!
        </p>
      </div>
    </div>
  </body>
  <script src="../js/main.js"></script>
</html>
