<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <img src="../images/logoNav.png" id="logo" alt="Logo PoliMarket">
    <section id="cajaLogin">
        <h2>Iniciar sesión</h2>
        <p>Correo electrónico</p>
        <input type="email" id="email">
        <p>Contraseña</p>
        <input type="password" id="password">
        <a href="reseteo.html">¿Olvidaste tu contraseña?</a>
        <br/>
        <button id="login">Iniciar sesión</button>
    </section>

    <section id="cajaSingup">
        <h2>¿Eres nuevo en PoliMarket?</h2>
        <button id="singup">Crea tu cuenta de PoliMarket</button>
    </section>
</body>
</html>