<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reseteo de Clave</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/reseteo.css">
    <link rel="icon" href="../images/favicon.ico">
</head>
<body>
    <div id="imagen">
        <img src="../images/logoNav.png" id="logo" alt="Logo PoliMarket">
    </div>

    <div id="cajaReseteo">
        <form id="formulario">
            <h2>Ayuda con la contraseña</h2>
            <p>Escribe la dirección de correo electrónico asociado a tu cuenta de PoliMarket</p>

            <label for="email">Correo electrónico</label>
            <input type="email" id="email" required>
            <br/>

            <input type="submit" id="reseteo" value="Continuar">
        </form>
        <a href="login.html">Regresar</a>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
    <script>
        // Initialize Firebase
        var firebaseConfig = {
            // Aquí debes agregar la configuración de tu proyecto Firebase
            apiKey: "AIzaSyAq3PWrGxMVqAcvfXwpC21vzsSQlVI-AdM",
            authDomain: "polimarket-93916.firebaseapp.com",
            projectId: "polimarket-93916",
            storageBucket: "polimarket-93916.appspot.com",
            messagingSenderId: "624045411960",
            appId: "1:624045411960:web:55537b983ead1f3516e78d"
        };
        firebase.initializeApp(firebaseConfig);

        // Obtener referencias a los elementos del formulario
        var emailInput = document.getElementById('email');

        // Agregar un listener al formulario para capturar el evento de envío
        document.getElementById('formulario').addEventListener('submit', function (e) {
            e.preventDefault(); // Evitar el envío del formulario por defecto

            var email = emailInput.value;

            // Llama a la función de Firebase para restablecer la contraseña
            firebase.auth().sendPasswordResetEmail(email)
                .then(function () {
                    // Restablecimiento de contraseña exitoso
                    alert("Se ha enviado un correo electrónico para restablecer la contraseña.");
                    window.location.href = 'login.html';
                })
                .catch(function (error) {
                    // Ocurrió un error durante el restablecimiento de contraseña
                    var errorMessage = error.message;
                    alert("Error al restablecer la contraseña: " + errorMessage);
                });
        });
    </script>

</body>
</html>