<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Singup</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="icon" href="../images/favicon.ico">
</head>
<body>
    <div id="imagen">
        <img src="../images/logoNav.png" id="logo" alt="Logo PoliMarket">
    </div>

    <div id="cajaSignup">
        <form id="formulario">
            <h2>Crear cuenta</h2>
            <label for="nombre">Tu nombre</label>
            <input type="text" id="nombre" placeholder="Nombres y apellidos" required>
            <br/>

            <label for="email">Correo electrónico</label>
            <input type="email" id="email" required>
            <br/>

            <label for="password">Contraseña</label>
            <input type="password" id="password" min="6" placeholder="Como mínimo 6 caracteres" required>
            <br/>

            <label for="password2">Vuelve a escribir la contraseña</label>
            <input type="password" id="password2" min="6" required>
            <br/>

            <input type="submit" id="singup" value="Iniciar sesión">
        </form>

        <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-auth.js"></script>
        <script>
            // Initialize Firebase
            var firebaseConfig = {
                // Aquí debes agregar la configuración de tu proyecto Firebase
                apiKey: "AIzaSyAq3PWrGxMVqAcvfXwpC21vzsSQlVI-AdM",
                authDomain: "polimarket-93916.firebaseapp.com",
                projectId: "polimarket-93916",
                storageBucket: "polimarket-93916.appspot.com",
                messagingSenderId: "624045411960",
                appId: "1:624045411960:web:55537b983ead1f3516e78d"
            };
            firebase.initializeApp(firebaseConfig);

            // Obtener referencias a los elementos del formulario
            var emailInput = document.getElementById('email');
            var passwordInput = document.getElementById('password');

            // Agregar un listener al formulario para capturar el evento de envío
            document.getElementById('formulario').addEventListener('submit', function(e) {
                e.preventDefault(); // Evitar el envío del formulario por defecto

                var email = emailInput.value;
                var password = passwordInput.value;

                // Crear usuario con Firebase
                firebase.auth().createUserWithEmailAndPassword(email, password)
                    .then(function(userCredential) {
                        // El inicio de sesión fue exitoso
                        var user = userCredential.user;
                        console.log('Usuario creado exitoso:', user);
                        //todo redirigir a la pagina principal
                        //window.location.href = 'signup.html';
                    })
                    .catch(function(error) {
                        // Ocurrió un error durante el inicio de sesión
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        console.error('Error en el inicio de sesión:', errorCode, errorMessage);
                        // Mostrar el mensaje de error al usuario
                        alert('Error en el inicio de sesión. Por favor, verifica tus credenciales.');
                    });
            });
        </script>

        <div id="cajaLogin">
            <span>¿Ya tienes una cuenta?</span> <a href="login.html">Iniciar sesión</a>
        </div>

    </div>

</body>
</html>